.NewProject{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 33%;
    padding: 20px;
    margin: 0 auto 20px;  
    background-color: #efefef;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
    margin-top: 10px;
}

.change{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif
}

.submitButton {
    border-radius: 10px;
    border: 2px solid gray;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.innerElement{
    font-family: Arial, Helvetica, sans-serif;
    color: gray
}