.card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.cardItems{
    margin: 10px;
    padding: 10px;
    display: flex;
    min-width: 70px;
}

.divider{
    background-color: black;
    margin-bottom: 15px;
    padding: 2.5px
}

.user{
    font-family: Arial, Helvetica, sans-serif;
}

